<header class="fixed top-0 left-0 right-0 z-40 bg-white border-b border-pink-100 shadow-sm">
  <div class="container mx-auto px-5 h-16 flex items-center justify-between">
    <%= link_to root_path, class: "flex items-center gap-2" do %>
      <span class="text-xl font-bold" style="color:#22c55e;">推しコミリマインダー</span>
    <% end %>

    <nav>
      <div class="flex items-center gap-4">
        <% if user_signed_in? %>
          <%= link_to "リマインダー", reminders_path,
                class: "text-sm text-gray-600 hover:text-green-600 transition" %>
          <%= link_to "マイ推しコミリスト", my_lists_recommend_lists_path,
                class: "text-sm text-gray-600 hover:text-green-600 transition" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "みんなの推しコミリスト", recommend_lists_path,
                class: "text-sm text-gray-600 hover:text-green-600 transition" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", profile_path,
                class: "text-sm text-gray-600 hover:text-green-600 transition" %>
          <span class="text-sm text-gray-600"><%= current_user.name %> さん</span>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete,
                class: "px-4 py-2 text-sm bg-gray-100 text-gray-600 rounded-full hover:bg-gray-200 transition" %>
        <% end %>
      </div>
    </nav>
  </div>
</header>
