<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "推しコミリマインダー" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# OGP %>
    <meta property="og:site_name" content="推しコミリマインダー">
    <meta property="og:title" content="<%= content_for(:title) || "推しコミリマインダー" %>">
    <meta property="og:description" content="<%= content_for(:description) || "推しのコミックスの発売リマインダーサービス" %>">
    <meta property="og:type" content="<%= content_for(:og_type) || "website" %>">
    <meta property="og:url" content="https://oshicomi-reminder.com<%= request.path %>">
    <meta property="og:image" content="<%= content_for(:og_image) || image_url("ogp.png") %>">
    <meta name="twitter:card" content="summary_large_image">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div id="flash_notice">
      <% if notice %>
        <p data-controller="flash"
           class="fixed top-20 left-1/2 -translate-x-1/2 bg-green-100 text-green-800 px-6 py-3 rounded shadow z-50">
          <%= notice %>
        </p>
      <% end %>
    </div>
    <div id="flash_alert">
      <% if alert %>
        <p data-controller="flash"
           class="fixed top-20 left-1/2 -translate-x-1/2 bg-red-100 text-red-800 px-6 py-3 rounded shadow z-50">
          <%= alert %>
        </p>
      <% end %>
    </div>
    <main class="container mx-auto mt-16 px-5 flex">
      <%= yield %>
    </main>
    <turbo-frame id="modal"></turbo-frame>
  </body>
</html>
